@page "/"

<h1 class="mb-4 text-2xl font-semibold text-gray-900">
    Recipes
</h1>

<p>
    Welcome to our recipe library, you can learn how to cook the most delicious food with us. <br/>
    Also, if you have a recipe you don't see here, help us with one more great idea!
</p>

<GettingStarted />

